@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	background-color: #FFFAE5;
	font-family: 'Avenir Next','Avenir','Open Sans', sans-serif;
}
p {
	font-size: 16px;
	margin-top: 8px;
}
section {
	background-color: #EBEBEB;
	color: #32415B;
	border-radius: 20px;
	padding: 2px 16px 2px;
	margin-bottom: 32px;
	border-top: solid #6D88B8 3px;

}
h1 {
	font-weight: 800;
	color: #6D88B8;
	text-align: right;
}
h2 {
	padding-left: 1px;
	letter-spacing: 1px;
	margin: 0px;
	margin-top: 4px;
}
.body-left {
	width: 256px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	float: left;
	margin-right: 32px;

}
.body-mid {
	width: 640px;
	padding-top: 82px;
	float: left;
	margin-right: 32px;
	overflow: auto;
}
.body-right {
	width: 256px;
	padding-top: 82px;
	text-align: center;
	float: left;
}
img {
	border-radius: 150px;
	width: 220px;
}
.links {
	text-align: right;
	line-height: 30px;
}
a {
	text-decoration: none;
	color: #707070;
}
.project {
	padding-left: 2%;
	padding-right: 2%;
	background-color: #d7d7d7;
	border-radius: 20px;
}
.project img {
	border-radius: 10px;
	border: solid #757575 1px;
	height: 144px;
	width: auto;
}
.project a {
	color: #2a75fb;
	font-style: italic;
}