@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Karla:300,400,500');
@font-face {
    font-family: "steelfish";
    src: url(assets/fonts/steelfish_rg.ttf);
}
html, body {
	width:100%;
	height:100%;
}
body {
  font-family: "Karla", sans-serif;
	margin: 0 auto;
	background-color:#F3F3F3; /*#0D5C7B;*/
	font-family: 'Karla','Open Sans', sans-serif;
}
.header {
	border-radius: 10px;
	width: 100%;
	/*background-image: linear-gradient(to right, #ff9ebf , #F4BA4D);*/
	transition: 0.2s;
	margin-bottom: 16px;
	position: relative;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
}

.header h1 {
	color: #ffffff;
	width: 100%;
	text-align: center;
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p {
	font-family: "Karla";
	font-size: 16px;
	margin-top: 8px;
	color: #053E60;
	font-weight: 400;
  letter-spacing: .2px;
  width: 90%;
}
p.sidenote {
  margin-top: 10px;
	padding-left: 12px;
  width: 100%;
}
section {
  width: 100%;
  float: left;
	color: #32415B;
	border-radius: 10px;
	padding: 2px 16px 2px;
  margin-top: 16px;
	margin-bottom: 64px;
}
h1 {
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #F34776;
	text-align: right;
}
h2 {
  width: 100%;
  font-family: "Karla", sans-serif;
	font-size: 22px;
	color: #F34776;
	font-weight: 600;
  letter-spacing: 3.5px;
	padding-left: 5px;
	border-radius: 5px;
  text-align: center;
	transition: 0.4s;
  margin-bottom: 50px;
}
h2:hover {
}
h3 {
	font-family: "Karla", sans-serif;
	color: #F34776;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0px;
}
h4 {
	font-size: 18px;
}
.body-left {
	width: 128px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	float: left;
	margin-right: 32px;

}
.body-mid {
  margin-left: 10%;
	width: 80%;
  max-width: 1000px;
	float: left;
	margin-right: 32px;
	overflow-x: hidden;
}
.body-right {
	width: 10%;
	padding-bottom: 20px;
	text-align: center;
	float: left;
	border-radius: 20px;
}
.body-right img {
	border-radius: 100px;
	    filter: grayscale(100%);

}
.links {
	text-align: center;
	line-height: 30px;
}

.links a {
	text-decoration: none;
	color: #707070;
	font-size: 20px;
	font-weight: 500;
	transition: 0.2s;
}
.links a:hover {
	color: #F4BA4D;
}
.project {
  min-width: 250px;
	width: 30%;
	margin-right: 3%;
	margin-bottom: 60px;
	transition: 0.5s;
	float: left;
}
.pleft {
	padding-right: 5%;
	width: 45%;
	height: 200px;
	float: left;
	margin-bottom: 12px;
}
.pleft h3 {
	text-align: right;

}
.pright {
	width: 50%;
	height: 200px;
	float: left;
	overflow: hidden;
	margin-bottom: 12px;

}

.pleft img {
  border-radius: 100px;
  object-fit: cover;
  height:auto;
  width:100%;
  overflow: hidden;
}

.project a {
	float: right;
	text-align: right;
	color: #2a75fb;
	transition: 0.28s;
}
.project a:hover {
	text-align: right;
	color: #f83a48;
}

.entry h2 {
	color: #242f42;
	letter-spacing: 0.0px;
	margin-bottom: 12px;
}
.entry img {
	height: 128px;
	width: auto;
}
.entry d { /*for description, possibly*/
}
.cyob {
  height: 32px;
  width: 32px;
  margin: 0px;
  float: none;
  display:inline-block;
  text-align:center;
  border-radius: 2px;
}
#about img {
  width: 160px;
  height: auto;
}
#projects .cyob {
  width: 350px;
  height: 16px;

}
#films .cyob {
  width: 350px;
  height: 16px;
}
#films p {
  width: 800px;
}
