@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,900');
@import url('https://fonts.googleapis.com/css?family=Buenard:400,700');
@font-face {
    font-family: "steelfish";
    src: url(assets/fonts/steelfish_rg.ttf);
}
html, body {
	width:100%;
	height:100%;
}
body {
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	margin: 0 auto;
	background-color:#FFFAF1;

}
.header {
	border-radius: 10px;
	width: 100%;
	/*background-image: linear-gradient(to right, #ff9ebf , #F4BA4D);*/
	transition: 0.2s;
	margin-bottom: 16px;
	position: relative;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
}

.header h1 {
	color: #ffffff;
	width: 100%;
	text-align: center;
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p {
	font-family: "Buenard";
	font-size: 20px;
	color: #232323;
	font-weight: 400;
	letter-spacing: -0.22px;
}
p.sidenote {
  font-size: 18px;
  font-weight: 500;
  padding-left: 0px;
}
section {
  width: 100%;
  float: left;
	color: #32415B;
	border-radius: 10px;
  margin-top: 16px;
  margin-bottom: 64px;
}
.sec-title {
	float: left;
	width: 18%;
	margin-right: 32px;
	text-align: right;
}
.sec-title h2 {
	font-weight: 900;
}


.sec-content {
	float: right;
	width: 78%;
	text-align: left;
}
@media only screen and (max-width: 900px)  {
	.sec-title {
		width: 100%;
		margin-right: 0px;
		padding-bottom: 32px;
	}
	.sec-content {
		width: 100%;
	}
}
h1 {
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #232323;
	text-align: right;
}
h2 {
    width: 100%;
    font-family: "Nunito Sans", sans-serif;
	font-size: 24px;
	color: #232323;
	font-weight: 200;
	border-radius: 5px;
    text-align: left;
	transition: 0.4s;
    margin-bottom: 50px;
}

h3 {
	font-family: "steelfish", sans-serif;
	color: #000;
	font-size: 50px;
	font-weight: 900;
	letter-spacing: 1.25px;
}
h4 {
	font-size: 18px;
}
.body-left {
	width: 128px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	float: left;
	margin-right: 32px;

}
.body-mid {
  margin-left: 10%;
	width: 80%;
  max-width: 1200px;
	float: left;
	margin-right: 32px;
	overflow-x: hidden;
}
.body-right {
	width: 14%;
	padding-bottom: 20px;
	text-align: center;
	float: left;
	border-radius: 20px;
}
.body-right img {
	border-radius: 100px;
	    filter: grayscale(100%);

}
.links {
	text-align: center;
	line-height: 30px;
}

.links a {
	text-decoration: none;
	color: #707070;
	font-size: 20px;
	font-weight: 500;
	transition: 0.2s;
}
.links a:hover {
	color: #F4BA4D;
}
.proj-wrap {
	float: right;
}
.project {
 	min-width: 250px;
	width: 48%;
	margin-right: 2%;
	margin-bottom: 40px;
	transition: 0.5s;
	float: left;
	cursor: pointer;
}
.project h3 {
	margin-top: 0px;
}

.pleft {
	width: 98%;
	float: left;
}
.pleft h3 {
	text-align: right;

}
.pright {
	width: 100%;
	float: left;
	overflow: hidden;

}

.pleft img {
  border-radius: 4px;
  object-fit: cover;
  height:auto;
  width:30%;
  padding-right: 0%;
  overflow: hidden;
}

.project a {
	float: right;
	text-align: right;
	color: #2a75fb;
	transition: 0.28s;
}
.project a:hover {
	text-align: right;
	color: #f83a48;
}

.entry h2 {
	color: #242f42;
	letter-spacing: 0.0px;
	margin-bottom: 12px;
}
.entry img {
	height: 128px;
	width: auto;
}
.entry d { /*for description, possibly*/
}
.cyob {
  height: 32px;
  width: 32px;
  margin: 0px;
  float: none;
  display:inline-block;
  text-align:center;
  border-radius: 2px;
}
#about img {
  width: 100%;
  height: auto;
}
#projects .cyob {
  width: 350px;
  height: 16px;

}
#films .cyob {
  width: 350px;
  height: 16px;
}
#films p {
  width: 800px;
}

.bar {
	height: 1px;
	width: 100%;
	background-color: #707070;
}
table {
	width: 100%;
	font-weight: 200;
	color: #666666;
	cursor: pointer;
	margin-bottom: 60px;
}
th {
	width: 25%;
	border: 0.5px solid #444444;
	font-weight: 200;
	transition: 0.2s;
}
th:hover {
	background-color: #F4BA4D;
	color:#fff;
}
#mypics th {
	width: 20%;
	border: 0px;
}