background {
    font-family: 'Avenir', Arial, Helvetica, sans-serif;
    color: #f1f1f1;
    background-color:#121212;
    font-weight: 100;
}

body {
    font-family: 'Avenir', Arial, Helvetica, sans-serif;
    font-weight: 100;
    background-color:#ffffff;
    background-image: url('tess.png');    
    width: 75%;
    height: 75%;
    padding: 25px;
    padding-top: 66px;
    margin: 0 auto;
    text-align: center;
}
#mainBody {
            font-family: 'Avenir', Arial, Helvetica, sans-serif;
            background-color: #ffffff;

            padding-top:1px;
            padding-left: 12px;
            margin:0px auto;
            text-align: left;
            /*position: center;*/
            height: 486px;
            width: 670px;
            font-size: 15px;
            font-weight: 100;
            min-width: 864;
            min-height: 486px; 
            height: 100%;
}
#top, #bottom, #left, #right {
	background: #000000;
	position: fixed;
	}
	#left, #right {
        
		top: 0; bottom: 0;
		width: 40px;
		}
		#left { 
            /*border-right: 2px solid #e8b21f;*/
            left: 0; }
		#right { 
            /*border-left: 2px solid #e8b21f;*/
            right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 50px;
		}
		#top { 
            /*border-bottom: 2px solid #e8b21f;*/
            top: 0; }
		#bottom { 
            /*border-top: 2px solid #e8b21f;*/
            bottom: 0; }

mainHead {
    width: 75%;
    height: 75%;
    margin: 0 auto;
    font-family: 'Avenir', Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: italic;
    color: #00000f;/*e8b21f*/
    background-color: #ffffff;
    
}

.navbar a {
    background-color: #ffffff;
    width: 75%;
    height: 75%;
    margin: 0 auto;
    font-family: 'Avenir', Arial, Helvetica, sans-serif;
    font-size: 15px;
    /*font-style: italic;*/
    color: #00000f;/*e81f55*/;
    text-decoration: none;
    /*border-bottom: 2px solid #e81f55;*/
}
.navbar a:hover, .offcanvas a:focus{
            color: #e81f55;
            display: inline;
            font-style: italic;
        }
em {
    font-size: 24px;
}