@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,500,700,800,900');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url(/t/1.css?apiType=css&projectid=af395689-2c2c-43f9-9e8f-68fdef40ecac);
@font-face {
	font-family: 'boncho';
	src: url('Avenir.ttc')
 
}
@font-face {
	font-family: 'bincho';
	src: url('Avenir Next.ttc')
}



background {
    color: #ffffff;
    background-color: #121212;
}

body {
    font-family: 'boncho', Helvetica Neue, sans-serif;
    color: #ffffff;
    background-color:#000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
text-rendering: optimizeLegibility;
text-rendering: geometricPrecision;
font-smooth: always;

font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-webkit-font-smoothing: antialiased;
-webkit-font-smoothing: subpixel-antialiased;

    height: 75%;
    padding: 25px;
    padding-top: 66px;
    margin: auto;
    text-align: center;

}
#grad {

}
#mainBody {

            padding-top:1px;
            padding-left: 10px;
            padding-bottom: 10px;
            margin:0px auto;
            text-align: left;
            /*position: center;*/
            height: 473px;
            width: 840px;
            font-size: 18px;
            min-height: 486px; 
            height: 100%;

}
sideside {
    column-width: 250px;
}

glBox {  
}
aboutSec {
    width: 250px;
    margin:0px ;
    padding-top: 10px;
    padding-bottom: 10px;
    }

#top, #bottom, #left, #right {
	background: #000000;
	position: fixed;
	}
	#left, #right {
        
		top: 0; bottom: 0;
		width: 10px;
		}
		#left { 
            /*border-right: 2px solid #e8b21f;*/
            left: 0; }
		#right { 
            /*border-left: 2px solid #e8b21f;*/
            right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 1px;
		}
		#top { 
            /*border-bottom: 2px solid #e8b21f;*/
            top: 0; }
		#bottom { 
            /*border-top: 2px solid #e8b21f;*/
            bottom: 0; }

mainHead {
    font-family: 'bincho';
    font-size: 38px;
    font-weight: 700;
    color: #ffffff;/*e8b21f*/
      -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    
}

.navbar a {
    width: 75%;
    height: 75%;
    margin: 0 ;
    font-size: 14px;
    /*font-style: italic;*/
    color: #ffffff;/*e81f55*/;
    text-decoration: none;
    /*border-bottom: 2px solid #e81f55;*/
}
.navbar a:hover, .offcanvas a:focus{
            color: #e81f55;
            display: inline;
            font-style: italic;
        }
