@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

background {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    color: #f1f1f1;
    background-color:#121212;
    font-weight: 100;
}

body {
    font-family: "Nunito Sans", Helvetica, sans-serif;
    font-weight: 100;
    background-color:#fffff;
    width: 75%;
    height: 75%;
    padding: 25px;
    padding-top: 66px;
    margin: 0 auto;
    text-align: center;

}
#mainBody {
            font-family: "Nunito Sans", Helvetica, sans-serif;
            background-color: #ffffff;

            padding-top:1px;
            padding-left: 10px;
            padding-bottom: 10px;
            margin:0px auto;
            text-align: left;
            /*position: center;*/
            height: 473px;
            width: 840px;
            font-size: 16px;
            font-weight: 200;
            min-height: 486px; 
            height: 100%;

}
sideside {
    column-width: 250px;
}

glBox {  
}
aboutSec {
    width: 250px;
    margin:0px ;
    padding-top: 10px;
    padding-bottom: 10px;
    }

#top, #bottom, #left, #right {
	background: #000000;
	position: fixed;
	}
	#left, #right {
        
		top: 0; bottom: 0;
		width: 10px;
		}
		#left { 
            /*border-right: 2px solid #e8b21f;*/
            left: 0; }
		#right { 
            /*border-left: 2px solid #e8b21f;*/
            right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 1px;
		}
		#top { 
            /*border-bottom: 2px solid #e8b21f;*/
            top: 0; }
		#bottom { 
            /*border-top: 2px solid #e8b21f;*/
            bottom: 0; }

mainHead {
    font-family: "Nunito", Helvetica;
    font-size: 32px;
    color: #00000f;/*e8b21f*/
    background-color: #ffffff;
    
}

.navbar a {
    background-color: #ffffff;
    width: 75%;
    height: 75%;
    margin: 0 ;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    font-size: 14px;
    /*font-style: italic;*/
    color: #00000f;/*e81f55*/;
    text-decoration: none;
    /*border-bottom: 2px solid #e81f55;*/
}
.navbar a:hover, .offcanvas a:focus{
            color: #e81f55;
            display: inline;
            font-style: italic;
        }
em {
    font-size: 24px;
}