@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url(/t/1.css?apiType=css&projectid=af395689-2c2c-43f9-9e8f-68fdef40ecac);
@import url('https://fonts.googleapis.com/css?family=Asar');

@import url('https://fonts.googleapis.com/css?family=Buenard|Crimson+Text|Fenix');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Asap:700|Buenard|Palanquin+Dark|Gidugu|Dosis:700|Fenix|Josefin+Sans:700|Meera+Inimai|Mitr|Mallanna|Secular+One');
@import url('https://fonts.googleapis.com/css?family=Rakkas');

@import url('https://fonts.googleapis.com/css?family=Yantramanav:400,700,900');

@font-face {
    font-family: 'boncho';
    src: url('Avenir.ttc');
}

@font-face {
    font-family: 'bincho';
    src: url('Avenir Next.ttc');
}

@font-face {
    font-family: 'Archivo_r';
    src: url('Archivo-Narrow/ArchivoNarrow-Regular.ttf');
}
@font-face {
    font-family: 'Archivo';
    src: url('Archivo-Narrow/ArchivoNarrow-Bold.ttf');
}
@font-face {
    font-family: 'Archivo_s';
    src: url('Archivo-Narrow/ArchivoNarrow-SemiBold.ttf');
}
@font-face {
    font-family: 'Archivo_m';
    src: url('Archivo-Narrow/ArchivoNarrow-Medium.ttf');
}
html, html a {
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004)
}
background {
    color: #f4f4f4;
    background-color: #222222;
}



body {
    font-family:'Archivo_r','Secular One', sans-serif;
    color: #333333;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    padding: 25px;
    padding-top: 66px;
    margin: auto;
}

#mainBody {
    padding-top: 0px;
    padding-left: 8px;
    margin: auto 105px;
    width: 1050px;
    font-size: 18px;
}
h2{
  font-family:'Yantramanav','Asap', 'bincho';
  text-align: left;
  font-style: italic;
  color: #333333;
  font-weight: 400;
}
h4 {
    font-weight: 400;
}

.maintitle {
    font-family:'Archivo';
    font-size: 48px;
    color: #111222;
    letter-spacing: 1px;
    font-weight: bold;
    width: 300;
}
.mainHead {

    font-family: 'Archivo','Mallanna','Secular One', 'bincho';
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    font-size: 34px;
    font-weight: 600;
    color: #333333; /*e8b21f*/

}



/* Style the tab */
div.tab {
    overflow: hidden;
}

    /* Style the buttons inside the tab */
    div.tab button {
        font-family: 'Yantramanav';
        letter-spacing: 1.5px;
        font-weight: 400;
        font-size: 16px;
        color: #222222;
        background-color: #ffffff;
        border: none;
        padding: 5px;
        transition: 0.51s;
    }

        /* Change background color of buttons on hover */
        div.tab button:hover {
            background-color: #f7f7f7;
            color: #ff4245;
        }

        /* Create an active/current "tab button" class */
        div.tab button.active {
            color: #ffffff;
            background-color: #ff4245;
        }

/* Style the tab */
div.tabn {
    overflow: hidden;
}

    /* Style the buttons inside the tab */
    div.tabn button {
    font-family: 'Asap',sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #000000;
        background-color: #ffffff;
        border: none;
        padding: 5px;
        transition: 0.1s;
text-decoration: underline;
 }

        /* Change background color of buttons on hover */
        div.tabn button:hover {
            background-color: #000000;
            color: #92C5A9;
        }

        /* Create an active/current "tab button" class */
        div.tabn button.active {
            color: #ffffff;
            background-color: #ff4245;
        }

/* Style the tab content */
.tabcontent {
  font-family: 'Fenix','Buenard','Fenix';
  color: #111111;
    font-size: 21px;
    border-left: none;
}

notesec {
    padding-left: 5%;
}
